.home-container {
  display: flex;
  padding: 20px;
  gap: 20px;
  min-width: 550px;
  max-width: 1020px;
}
.container {
  min-width: 550px;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}


.hotel-list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 20px;

}
.no-results {
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-top: 40px;
}
